# Spark101 Exercise

## Imports

In [2]:
import pyspark
import pandas as pd
import numpy as np
from pydataset import data

## Exercises

# ------------------------------------------------------------------------
## Exercise 1:

Within your `codeup-data-science` directory, create a new repo named `spark-exercises`. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your `spark-exercises` repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named `spark101` for this exercise.

Create a spark data frame that contains your favorite programming languages.

- Create a dataframe with one column named `language`
> Hint: Start with a pandas dataframe. Maybe use a dictionary?
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

# ------------------------------------------------------------------------

In [5]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [6]:
np.random.seed(456)

pandas_dataframe = pd.DataFrame(
    dict(language=np.random.choice(("JavaScript","Python", "Java", "HTML", "C++"), 20))
)
pandas_dataframe

      language
0         HTML
1         HTML
2       Python
3         Java
4          C++
5         Java
6          C++
7          C++
8          C++
9       Python
10        HTML
11  JavaScript
12        HTML
13        Java
14         C++
15        Java
16        Java
17        HTML
18  JavaScript
19         C++

In [7]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[language: string]

In [8]:
df.show(5)

+--------+
|language|
+--------+
|    HTML|
|    HTML|
|  Python|
|    Java|
|     C++|
+--------+
only showing top 5 rows

In [9]:
df.describe()

DataFrame[summary: string, language: string]

In [11]:
df.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|      20|
|   mean|    null|
| stddev|    null|
|    min|     C++|
|    max|  Python|
+-------+--------+

In [13]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  20  x  1